@font-face {
    font-family: Roboto-Black;
    src: url("../font/Roboto-Black.ttf");
}


html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 6px;
    padding-left: 20px;
    margin-left: 20px;
}
::-webkit-scrollbar-track{
    background: unset;
    border-radius: 10px;

}
::-webkit-scrollbar-thumb{
    background: unset;
    border-radius: 10px;
}
body {
    font-family: Roboto-Black;
    font-weight: 400;
    font-style: normal;
    /* font-size: 14px; */
    color: #999;
    overflow-x: hidden;
    direction: ltr;
    text-align: right;
    behavior: inherit;
    background: #1b2430;
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #707070;
    margin-top: 0;
    font-weight: 600;
}

.text-primary {
    color: #4cb9d4 !important;
}


/* <><><><><> header <><><><><> */
header{
    width: 100%;
}
header div.user-info{
    width: 100%;
    background: #202b3b8c;
    border-radius:  0 0 15px 15px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header div.user-info button.sign-out-user{
    background: unset;
    border-radius: 30px;
    border: unset;
    outline: unset;
    color: #FFFFFF;
    font-size: 20px;
    padding: 5px 10px;
    transition: all 0.3s ease-in-out;
}
header div.user-info button.sign-out-user:hover{
    background: #2a384beb;
}
/* <><><><><> main side <><><><><> */
section.main-sec{
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.main-side {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #202b3b8c;
    height: 23em;
    border-radius: 7px;
    box-shadow: rgb(17 17 26 / 15%) 0 7px 2px, rgb(17 17 26 / 9%) 9px 11px 25px;
}
section.main-sec div.main-side div.select{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
section.main-sec div.main-side div.counter{
    width: 100%;
    display: flex;
    justify-content: center;
}
section.main-sec div.main-side div.counter input::-webkit-outer-spin-button,
section.main-sec div.main-side div.counter input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
section.main-sec div.main-side div.counter input[type=number]{
    text-align: center;
    width: 20%;
    border: unset;
    border-top: 1px solid #3e3e3e;
    border-bottom: 1px solid #3e3e3e;
    outline: unset;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    -moz-appearance: textfield;
    background: #1b243040;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}
section.main-sec div.main-side div.counter input[type=number]:focus{
    border: 1px solid #026f92;
    background: #1b2430;
}
section.main-sec div.main-side div.counter button:last-child{
    border-radius: 0 10px 10px 0;
}
section.main-sec div.main-side div.counter button:first-child{
    border-radius: 10px 0 0 10px;
}
section.main-sec div.main-side div.counter button{
    border: unset;
    outline: unset;
    color: #ffffff;
    background: #476b79;
    padding: 0 14px;
    transition: all 0.3s ease-in-out;
}
section.main-sec div.main-side div.counter button:hover{
    background: #476b7980;
}

section.main-sec div.main-side h1.page-title{
    font-size: 30px;
}
/*-----------------login------------------------*/
button.ghost {
    background-color: #fff;
    border: unset;
    color: red;
    outline: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    border-radius: 20px;
    padding: 10px;
}

button.ghost:hover {
    background: red;
    color: #FFFFFF;
}

.form-login button {
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.form-login form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.login {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    direction: ltr;
}

.form-login {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.form-login input {
    direction: ltr;
    text-align: left;
    border-radius: 6px;
    outline: 1px solid #FFFFFF;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.form-login input:focus-visible {
    outline: 1px solid red;
}

.form-login button {
    background: red;
    color: #fff;
    border: 1px solid red;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.form-login button:hover {
    background: #fff;
    color: red;
    border: 1px solid red;
}

.sign-in-login {
    left: 0;
    width: 50%;
    z-index: 2;
}

.login.right-panel-active .sign-in-login {
    transform: translateX(100%);
}

.sign-up-login {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.login.right-panel-active .sign-up-login {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-login {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.login.right-panel-active .overlay-login {
    transform: translateX(-100%);
}

.overlay {
    background: #44617f;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.login.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.login.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.login.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.social-login {
    margin: 20px 0;
}

.social-login a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

.login h4 {
    color: red;
    direction: ltr;
}

.login a:hover {
    color: red;
}

.login .overlay .overlay-panel .login-logo {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #FFFFFF;
    padding: 12px;
    margin-bottom: 2rem;
}

.login .overlay .overlay-panel .login-logo img {
    width: 100%;
    height: 100%;
}